*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
body, html{
    height:100%;
}
.contain{
    margin:30px;
}
.contain img{
    width:100px;
}
.contain{
    height:100%;
    display:grid;
    grid-gap:5px;
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    grid-auto-rows:100px;
}